/* line 10, ../../source/sass/_fixed-width.sass */
.region-top,
#page,
.region-bottom {
  margin-left: auto;
  margin-right: auto;
  width: 984px;
}

/* line 21, ../../source/sass/_fixed-width.sass */
#header,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  border: 0 !important;
  word-wrap: break-word;
}

/* line 25, ../../source/sass/_fixed-width.sass */
#navigation,
#content,
.region-sidebar-first,
.region-sidebar-second {
  padding-left: 0;
  padding-right: 0;
  border: 0 !important;
  word-wrap: break-word;
}

/* line 52, ../../../../.gem/ruby/1.9.1/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 56, ../../../../.gem/ruby/1.9.1/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
#header:after,
#main:after,
#footer:after {
  clear: both;
}

/* line 44, ../../source/sass/_fixed-width.sass */
#main {
  padding-top: 4.8em;
  position: relative;
}

/* line 49, ../../source/sass/_fixed-width.sass */
#navigation {
  position: absolute;
  top: 0;
  height: 3em;
  width: 984px;
}

/* line 61, ../../source/sass/_fixed-width.sass */
.sidebar-first #content {
  float: left;
  width: 738px;
  margin-left: 246px;
  margin-right: -984px;
}
/* line 63, ../../source/sass/_fixed-width.sass */
.sidebar-first .region-sidebar-first {
  float: left;
  width: 246px;
  margin-left: 0px;
  margin-right: -246px;
}

/* line 67, ../../source/sass/_fixed-width.sass */
.sidebar-second #content {
  float: left;
  width: 738px;
  margin-left: 0px;
  margin-right: -738px;
}
/* line 69, ../../source/sass/_fixed-width.sass */
.sidebar-second .region-sidebar-second {
  float: left;
  width: 246px;
  margin-left: 738px;
  margin-right: -984px;
}

/* line 10, ../../source/sass/_pages.sass */
#page {
  border: 1px solid #dfdfdf;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 17, ../../source/sass/_pages.sass */
#skip-link {
  margin: 0;
}
/* line 19, ../../source/sass/_pages.sass */
#skip-link a,
#skip-link a:visited {
  background-color: #999999;
  color: white;
  display: block;
  padding: 2px 0 3px 0;
  text-align: center;
}

/* line 27, ../../source/sass/_pages.sass */
.breadcrumb {
  background: whitesmoke;
  margin: 0;
}

/* line 36, ../../source/sass/_pages.sass */
#content .content-inner {
  padding: 30px 50px;
}

/* line 40, ../../source/sass/_pages.sass */
.page-panels #content .content-inner {
  padding: 0;
}

/* line 43, ../../source/sass/_pages.sass */
h1.title {
  border-bottom: 1px dotted #dfdfdf;
  line-height: 1.2em;
  margin: 0;
  padding: 30px 50px;
  text-transform: capitalize;
}

/* line 55, ../../source/sass/_pages.sass */
#header .block {
  margin-bottom: 10px;
  margin-top: 10px;
}

/* line 63, ../../source/sass/_pages.sass */
#footer {
  background: #454545;
  color: #c3c3c3;
}
/* line 66, ../../source/sass/_pages.sass */
#footer .block {
  margin-bottom: 10px;
  margin-top: 10px;
}
/* line 69, ../../source/sass/_pages.sass */
#footer .block-title {
  color: white;
  font-size: 1em;
  margin: 0 0 0.5em;
  text-transform: uppercase;
}

/* line 7, ../../source/sass/_forms.sass */
#search-block-form {
  margin: 0;
  text-align: right;
}
/* line 10, ../../source/sass/_forms.sass */
#search-block-form input.form-text {
  background: #fcfcfc;
  border: 1px solid #dfdfdf;
  color: #6c6c6c;
  height: auto;
  margin: 0 -35px 0 0;
  padding: 12px 30px 12px 10px;
  width: auto;
}
/* line 18, ../../source/sass/_forms.sass */
#search-block-form button.form-submit {
  background: url("../img/search.png") no-repeat center transparent;
  border: none;
  cursor: pointer;
  padding: 12px 0;
  text-indent: -9999px;
  width: 30px;
}

/* line 29, ../../source/sass/_forms.sass */
#block-poll-recent .poll {
  padding: 0 20px;
}
/* line 31, ../../source/sass/_forms.sass */
#block-poll-recent .poll .title {
  margin-bottom: 10px;
}
/* line 33, ../../source/sass/_forms.sass */
#block-poll-recent .poll button.form-submit {
  width: 100%;
}

/* line 37, ../../source/sass/_forms.sass */
#search-form {
  margin: 0;
}
/* line 39, ../../source/sass/_forms.sass */
#search-form .control-group {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}
/* line 43, ../../source/sass/_forms.sass */
#search-form label.control-label {
  margin: 0 10px 0 0;
  vertical-align: middle;
}
/* line 46, ../../source/sass/_forms.sass */
#search-form input.form-text {
  margin: 0 5px 0 0;
}

/* line 11, ../../source/sass/_navigation.sass */
#navigation .region-navigation {
  border-top: 1px solid #dfdfdf;
}
/* line 13, ../../source/sass/_navigation.sass */
#navigation .block {
  margin-bottom: 0;
}
/* line 16, ../../source/sass/_navigation.sass */
#navigation .block-om-maximenu .block-title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 18, ../../source/sass/_navigation.sass */
#navigation .block-om-maximenu .om-maximenu {
  overflow: hidden;
}
/* line 20, ../../source/sass/_navigation.sass */
#navigation .block-om-maximenu .om-maximenu-edit,
#navigation .block-om-maximenu .edit-block {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 23, ../../source/sass/_navigation.sass */
#navigation .block-om-maximenu ul.om-menu {
  float: left;
  margin: 0;
}
/* line 26, ../../source/sass/_navigation.sass */
#navigation .block-om-maximenu li.om-leaf {
  float: left;
}
/* line 28, ../../source/sass/_navigation.sass */
#navigation .block-om-maximenu li.om-leaf:hover {
  box-shadow: 0 0 3px #bbbbbb;
}
/* line 30, ../../source/sass/_navigation.sass */
#navigation .block-om-maximenu li.om-leaf:hover .om-maximenu-content {
  display: block;
}
/* line 32, ../../source/sass/_navigation.sass */
#navigation .block-om-maximenu .om-link {
  color: black;
  display: block;
  font-weight: 400;
  height: 3em;
  line-height: 3em;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 41, ../../source/sass/_navigation.sass */
#navigation .block-om-maximenu .om-link .caret {
  margin: 1.4em 0 0 0.4em;
}
/* line 43, ../../source/sass/_navigation.sass */
#navigation .block-om-maximenu .om-link:hover {
  background: none;
}
/* line 45, ../../source/sass/_navigation.sass */
#navigation .block-om-maximenu .om-maximenu-content {
  background: white;
  display: none;
  position: absolute;
  z-index: 500;
  box-shadow: 0 2px 2px -1px #666666;
  border-bottom: 3px solid black;
}
/* line 52, ../../source/sass/_navigation.sass */
#navigation .block-om-maximenu .om-maximenu-content h3.title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 54, ../../source/sass/_navigation.sass */
#navigation .block-om-maximenu .om-maximenu-content ul.menu {
  margin: 0;
  padding: 8px 0;
  width: 250px;
}
/* line 59, ../../source/sass/_navigation.sass */
#navigation .block-om-maximenu .om-maximenu-content ul.menu li a {
  color: #555555;
  padding: 10px 30px;
}
/* line 62, ../../source/sass/_navigation.sass */
#navigation .block-menu-block {
  clear: left;
  background: black;
  height: 1.8em;
}
/* line 66, ../../source/sass/_navigation.sass */
#navigation .block-menu-block .block-title {
  color: white;
  float: left;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 2em;
  margin: 0;
  padding: 0 10px;
  text-transform: uppercase;
}
/* line 75, ../../source/sass/_navigation.sass */
#navigation .block-menu-block ul.menu {
  font-size: 0.9em;
  margin: 0;
  overflow: hidden;
}
/* line 79, ../../source/sass/_navigation.sass */
#navigation .block-menu-block ul.menu li {
  float: left;
}
/* line 81, ../../source/sass/_navigation.sass */
#navigation .block-menu-block ul.menu li a {
  color: #eeeeee;
  line-height: 2em;
  padding: 0 10px;
}
/* line 85, ../../source/sass/_navigation.sass */
#navigation .block-menu-block ul.menu li a:hover, #navigation .block-menu-block ul.menu li a:visited {
  background: none;
  color: #bbbbbb;
}

/* line 93, ../../source/sass/_navigation.sass */
.not-front #navigation .block-om-maximenu .om-link {
  padding: 0 18px;
}
/* line 96, ../../source/sass/_navigation.sass */
.not-front #block-block-3 {
  float: left;
  width: 246px;
  margin-left: 0px;
  margin-right: -246px;
  background: #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
/* line 100, ../../source/sass/_navigation.sass */
.not-front #block-block-3 .logo {
  height: 3em;
  line-height: 3em;
  padding: 0 10px;
}
/* line 104, ../../source/sass/_navigation.sass */
.not-front #block-block-3 .logo img {
  vertical-align: middle;
}
/* line 107, ../../source/sass/_navigation.sass */
.not-front #block-om-maximenu-om-maximenu-1 {
  float: left;
  width: 738px;
  margin-left: 246px;
  margin-right: -984px;
}
/* line 109, ../../source/sass/_navigation.sass */
.not-front #block-om-maximenu-om-maximenu-1 ul.om-menu {
  border-left: 1px solid #dfdfdf;
}

/* line 118, ../../source/sass/_navigation.sass */
#footer .block-menu-block ul.menu {
  font-size: 0.9em;
  margin: 0;
}
/* line 121, ../../source/sass/_navigation.sass */
#footer .block-menu-block ul.menu li {
  list-style: none;
  border-bottom: 1px dotted #666666;
}
/* line 124, ../../source/sass/_navigation.sass */
#footer .block-menu-block ul.menu li a {
  color: #c3c3c3;
  display: block;
  padding: 5px 0;
  text-decoration: none;
}
/* line 129, ../../source/sass/_navigation.sass */
#footer .block-menu-block ul.menu li a:hover {
  background: none;
  color: white;
}
/* line 132, ../../source/sass/_navigation.sass */
#footer .block-menu-block ul.menu li.last {
  border-bottom: none;
}

/* line 7, ../../source/sass/_blocks.sass */
#block-block-1 {
  float: left;
  width: 472px;
  margin-left: 0px;
  margin-right: -492px;
}

/* line 11, ../../source/sass/_blocks.sass */
#block-search-form {
  float: left;
  width: 226px;
  margin-left: 738px;
  margin-right: -984px;
}

/* line 15, ../../source/sass/_blocks.sass */
#block-block-2 {
  float: left;
  width: 472px;
  margin-left: 0px;
  margin-right: -492px;
}

/* line 19, ../../source/sass/_blocks.sass */
#block-menu-block-2 {
  float: left;
  width: 144px;
  margin-left: 656px;
  margin-right: -820px;
}

/* line 23, ../../source/sass/_blocks.sass */
#block-menu-block-3 {
  float: left;
  width: 144px;
  margin-left: 820px;
  margin-right: -984px;
}

/* line 28, ../../source/sass/_blocks.sass */
#block-poll-recent #poll-view-voting {
  margin: 20px 0;
}
/* line 32, ../../source/sass/_blocks.sass */
#block-poll-recent ul.links {
  background: #eeeeee;
  margin: 0 20px 20px;
  padding: 10px 30px;
}

/* line 7, ../../source/sass/_panels.sass */
.panel-3col-bricks h2.pane-title, .panel-3col-bricks #block-poll-recent h2.block-title, #block-poll-recent .panel-3col-bricks h2.block-title {
  background: #fefefe;
  border-bottom: 2px solid #3fb618;
  margin: 0;
  padding: 10px 20px;
  text-transform: capitalize;
}
/* line 15, ../../source/sass/_panels.sass */
.panel-3col-bricks .columns-3 h2.pane-title, .panel-3col-bricks .columns-3 #block-poll-recent h2.block-title, #block-poll-recent .panel-3col-bricks .columns-3 h2.block-title,
.panel-3col-bricks .columns-5 h2.pane-title,
.panel-3col-bricks .columns-5 #block-poll-recent h2.block-title,
#block-poll-recent .panel-3col-bricks .columns-5 h2.block-title {
  margin: 0 1px;
}

/* line 11, ../../source/sass/_views-styles.sass */
.view-recent.view-display-id-block_1 .views-row, .view-recent.view-display-id-block_2 .views-row {
  float: left;
  width: 246px;
}
/* line 14, ../../source/sass/_views-styles.sass */
.view-recent.view-display-id-block_1 article, .view-recent.view-display-id-block_2 article {
  background-repeat: no-repeat;
  position: relative;
}
/* line 17, ../../source/sass/_views-styles.sass */
.view-recent.view-display-id-block_1 header, .view-recent.view-display-id-block_2 header {
  background: rgba(0, 0, 0, 0.5);
  height: 246px;
}
/* line 20, ../../source/sass/_views-styles.sass */
.view-recent.view-display-id-block_1 header:hover, .view-recent.view-display-id-block_2 header:hover {
  background: rgba(0, 0, 0, 0.25);
}
/* line 22, ../../source/sass/_views-styles.sass */
.view-recent.view-display-id-block_1 h2.node-title, .view-recent.view-display-id-block_2 h2.node-title {
  text-shadow: 0 1px 1px black;
  line-height: 1.25em;
  margin: 0;
  padding: 10px;
}
/* line 27, ../../source/sass/_views-styles.sass */
.view-recent.view-display-id-block_1 h2.node-title a, .view-recent.view-display-id-block_2 h2.node-title a {
  color: white;
}
/* line 29, ../../source/sass/_views-styles.sass */
.view-recent.view-display-id-block_1 h2.node-title a:hover, .view-recent.view-display-id-block_2 h2.node-title a:hover {
  text-decoration: none;
}
/* line 31, ../../source/sass/_views-styles.sass */
.view-recent.view-display-id-block_1 .submitted, .view-recent.view-display-id-block_2 .submitted {
  text-shadow: 0 1px 1px black;
  color: white;
  padding: 0 10px;
}
/* line 38, ../../source/sass/_views-styles.sass */
.view-recent.view-display-id-block_1 .views-row-1 {
  width: 738px;
}
/* line 41, ../../source/sass/_views-styles.sass */
.view-recent.view-display-id-block_1 .views-row-3,
.view-recent.view-display-id-block_1 .views-row-4 {
  width: 492px;
}
/* line 46, ../../source/sass/_views-styles.sass */
.view-recent.view-display-id-block_3 article {
  padding: 20px;
}
/* line 48, ../../source/sass/_views-styles.sass */
.view-recent.view-display-id-block_3 h2.node-title {
  font-size: 1.5em;
  line-height: 1.25em;
  margin: 0 0 10px;
}
/* line 52, ../../source/sass/_views-styles.sass */
.view-recent.view-display-id-block_3 h2.node-title a {
  color: black;
}
/* line 54, ../../source/sass/_views-styles.sass */
.view-recent.view-display-id-block_3 .field-type-image {
  margin-bottom: 10px;
}

/* line 61, ../../source/sass/_views-styles.sass */
.view-popular.view-display-id-block_1 .view-content {
  margin-top: 20px;
  padding: 0 20px;
}
/* line 64, ../../source/sass/_views-styles.sass */
.view-popular.view-display-id-block_1 ul {
  margin: 0;
}
/* line 66, ../../source/sass/_views-styles.sass */
.view-popular.view-display-id-block_1 li.views-row {
  border-bottom: 1px dotted #3fb618;
  list-style: none;
}
/* line 69, ../../source/sass/_views-styles.sass */
.view-popular.view-display-id-block_1 li.views-row-last {
  border-bottom: none;
}
/* line 71, ../../source/sass/_views-styles.sass */
.view-popular.view-display-id-block_1 article {
  padding: 10px 0;
  text-align: center;
}
/* line 74, ../../source/sass/_views-styles.sass */
.view-popular.view-display-id-block_1 h2.node-title {
  font-size: 1em;
  line-height: 1.25;
  margin: 0;
}
/* line 78, ../../source/sass/_views-styles.sass */
.view-popular.view-display-id-block_1 h2.node-title a {
  color: black;
  text-decoration: none;
}
/* line 81, ../../source/sass/_views-styles.sass */
.view-popular.view-display-id-block_1 .submitted {
  margin: 5px 0 0;
}
/* line 83, ../../source/sass/_views-styles.sass */
.view-popular.view-display-id-block_1 .pagination {
  margin: 10px 0 18px;
}

/* line 87, ../../source/sass/_views-styles.sass */
.view-highlight {
  margin: 0;
}
/* line 89, ../../source/sass/_views-styles.sass */
.view-highlight article {
  padding: 20px;
}

/* line 93, ../../source/sass/_views-styles.sass */
.view-gallery {
  margin: 0;
}
/* line 95, ../../source/sass/_views-styles.sass */
.view-gallery .views-row {
  float: left;
  width: 196px;
}
/* line 98, ../../source/sass/_views-styles.sass */
.view-gallery .carousel-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  line-height: 26px;
  top: 50%;
}

/* line 8, ../../source/sass/_misc.sass */
#admin-menu .dropdown li {
  line-height: inherit;
}

/* line 11, ../../source/sass/_misc.sass */
.krumo-root {
  color: black;
}

/* line 15, ../../source/sass/_misc.sass */
.maintenance-page #main {
  padding: 0;
}

/* line 18, ../../source/sass/_misc.sass */
.search-results {
  margin: 30px 0 0;
}
/* line 20, ../../source/sass/_misc.sass */
.search-results h2 {
  border-bottom: 1px dashed #999999;
  margin-bottom: 19px;
  margin-top: 0;
  padding-bottom: 19px;
}
