//
// @file
// Form styling.
//

// Search block form
#search-block-form 
  margin: 0
  text-align: right
  input.form-text
    background: #fcfcfc
    border: 1px solid $gray-light
    color: #6c6c6c
    height: auto
    margin: 0 -35px 0 0
    padding: 12px 30px 12px 10px
    width: auto
  button.form-submit 
    background: url("../img/search.png") no-repeat center transparent
    border: none
    cursor: pointer
    padding: 12px 0
    // Hide "Search" text
    text-indent: -9999px
    width: 30px

// Recent poll block form
#block-poll-recent
  .poll
    padding: 0 20px
    .title
      margin-bottom: 10px
    button.form-submit
      width: 100%

// Search form
#search-form
  margin: 0
  .control-group
    display: inline-block
    margin: 0
    vertical-align: middle
  label.control-label
    margin: 0 10px 0 0
    vertical-align: middle
  input.form-text
    margin: 0 5px 0 0
