//
// @file
// Navigation styling.
//

//
// Navigation bar
//

#navigation
  .region-navigation
    border-top: 1px solid $gray-light
  .block
    margin-bottom: 0
  .block-om-maximenu
    .block-title
      +element-invisible
    .om-maximenu
      overflow: hidden
    .om-maximenu-edit,
    .edit-block
      +element-invisible
    ul.om-menu
      float: left
      margin: 0
    li.om-leaf
      float: left
      &:hover
        box-shadow: 0 0 3px $gray
        .om-maximenu-content
          display: block
    .om-link
      color: $black
      display: block
      font-weight: 400
      height: 3em
      line-height: 3em
      padding: 0 20px
      text-decoration: none
      text-transform: uppercase
      .caret
        margin: 1.4em 0 0 0.4em
      &:hover
        background: none
    .om-maximenu-content
      background: $white
      display: none
      position: absolute
      z-index: 500
      box-shadow: 0 2px 2px -1px #666
      border-bottom: 3px solid $black
      h3.title
        +element-invisible
      ul.menu
        margin: 0
        padding: 8px 0
        width: 250px
        li
          a
            color: #555
            padding: 10px 30px
  .block-menu-block
    +zen-clear
    background: $black
    height: 1.8em
    .block-title
      color: $white
      float: left
      font-size: 0.9em
      font-weight: bold
      line-height: 2em
      margin: 0
      padding: 0 10px
      text-transform: uppercase
    ul.menu
      font-size: 0.9em
      margin: 0
      overflow: hidden
      li
        float: left      
        a
          color: $gray-lighter
          line-height: 2em
          padding: 0 10px
          &:hover,
          &:visited
            background: none
            color: $gray

.not-front 
  #navigation
    .block-om-maximenu
      .om-link
        padding: 0 18px
  // Navigation logo block
  #block-block-3
    +zen-grid-item(3, 1)
    background: $gray-lighter
    border-bottom: 1px solid $gray-lighter
    .logo
      height: 3em
      line-height: 3em
      padding: 0 10px
      img
        vertical-align: middle
  // OM Maximenu 1 block
  #block-om-maximenu-om-maximenu-1
    +zen-grid-item(9, 4)
    ul.om-menu
      border-left: 1px solid $gray-light

//
// Footer
//

#footer 
  .block-menu-block 
    ul.menu 
      font-size: .9em
      margin: 0
      li
        list-style: none
        border-bottom: 1px dotted #666
        a 
          color: #c3c3c3
          display: block
          padding: 5px 0
          text-decoration: none
          &:hover
            background: none
            color: $white
      li.last
        border-bottom: none
