//
// @file
// Views styling.
//

// "Banner" view
.view-banner

// "Recent" view
.view-recent
  $column_width: $zen-grid-width / 4
  .views-row
    float: left
    width: $column_width
  article
    background-repeat: no-repeat    
    position: relative
  header
    background: rgba(0,0,0, .5)
    height: 245px
    &:hover
      background: rgba(0,0,0, .25)
  h2.node-title
    +text-shadow(0 1px 1px $black)
    line-height: 1.25em
    margin: 0
    padding: 10px
    a
      color: $white
      &:hover
        text-decoration: none
  .submitted
    +text-shadow(0 1px 1px $black)
    color: $white
    padding: 0 10px
  // Block 1
  &.view-display-id-block_1
    // Span 3 columns
    .views-row-1
      width: $column_width * 3
    // Span 2 columns
    .views-row-3,
    .views-row-4
      width: $column_width * 2
      
// "Popular" view
.view-popular
  // Block 1
  &.view-display-id-block_1
    .view-content
      padding: 0 20px
    ul
      margin: 0
    li.views-row
      border-bottom: 1px dotted $green
      list-style: none
    li.views-row-last
      border-bottom: none
    article
      padding: 10px 0
      text-align: center
    h2.node-title
      font-size: 1em
      line-height: 1.25
      margin: 0
      a
        color: $black
        text-decoration: none
    .submitted
      margin: 5px 0 0
    .pagination 
      margin: 10px 0

// "Highlight" view
.view-highlight
  margin: 0
  article
    padding: 20px

// "Gallery" view
.view-gallery
  margin: 0
  .views-row
    float: left
    width: 196px
  .carousel-control
    +border-radius(0)
    line-height: 26px
    top: 50%

