//
// @file
// Panels layout styling.
//

@import "base"

.panel-3col-bricks
  .panel-row
    +zen-clear
    border-bottom: 2px solid $black
    overflow: hidden
  .columns-3
    background: url('../../img/columns-3-bg.png') repeat-y transparent top 
  .panel-col-0
    +zen-grid-item(2, 1)
  .panel-col-1
    +zen-grid-item(1, 3)
  .panel-col-2
    +zen-grid-item(1, 4)
  .panel-col-3
    +zen-grid-item(1, 5)
  .panel-col-4
    +zen-grid-item(2, 6)
  .panel-col-first
    +zen-grid-item(2, 1)
  .panel-col
    +zen-grid-item(3, 3)
  .panel-col-last
    +zen-grid-item(2, 6)
  .panel-separator
    border-bottom: 1px solid $gray-light
